HAMMERSPACE_BACKEND=http://localhost:3000
HAMMERSPACE_FRONTEND=http://localhost:3001
AVATAR_ROOM=http://localhost:8080/avatarroom.html
EXPERIENCE=http://localhost:8080/experience.html
IPFS_GATEWAY=https://nftstorage.link/ipfs
CLIENT_ID=e41834b6-1861-4108-ae60-088a08bf914d
REDIRECT_URI=http://localhost:5000
SCOPE=avatars:read
